
// Fonts
@import "fonts";
@import "variables";
@import "transition";

// Libraries
@import "node_modules/motion-ui/motion-ui";
@include motion-ui-transitions;
@import "node_modules/foundation-sites/scss/foundation";
@include foundation-everything;
@include foundation-xy-grid-classes;

hr {
  border: 0;
  margin: 1.35em auto;
  max-width: 100%;
  background-position: 50%;
  box-sizing: border-box;
  height: 1px;
  $color: s3color(black-primary);
  color: $color;
  background-image: linear-gradient(
    90deg,
    rgba($color, 0),
    rgba($color, 1) 50%,
    rgba($color, 0) 100%);
}

hr.raw {
  max-width: 100%;
  box-sizing: border-box;
  height: 1px;
  margin: 0.5em auto;
}

.compressed {
    margin-bottom: 1px;
}

//本文装飾用
.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-underline {
    text-decoration: underline;
}

.text-strike {
    text-decoration: line-through;
}

.text-line-inline {
    display: inline;
}

.text-line-block {
    display: block;
}

//
.label-keep {
	color: $label-color;
    &:hover {
        color: $label-color;
    }
}

#app {
  word-wrap: break-word;
}

#footer {
  background-color: s3color(footer-background);
  color: s3color(white-primary);
}

//admin テーブル
.admin-table-id {
    width: 5rem;
}

.admin-table-name {
    width: 16rem;
    word-wrap: break-word;
}

.admin-table-type {
    width: 6rem;
    word-wrap: break-word;
}

.bme-table-move {
    width: 8rem;
    text-align: center;
    button {
        margin: 0;
    }
}


.bme-table-tool {
    width: 5rem;
    text-align: center;
    button {
        margin: 0;
    }
}
